body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

.logo {
       height: auto;
       width: 200;
}

article{
    background-color: blue;
    border-radius: 200;
    border-top: 0cap;
}