*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'holberton';


}


@font-face {
    font-family: 'Holberton';
    src: url(fonts/holberton_school-icon.ttf);
}


:root{
    --botton-color: #FF6565;
    font-family: 'holberton';

}


.big-container{
background-image: url(./images/headphones_hero_1.jpg);
 background-size: cover;
height:800px;

}


.mobile-icon{
    display: none;
}

.header{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

.header-image{
    padding: none;
}
    
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}

.nav-list{
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 60px;
    padding-right: 60px;
    padding-left: 30px;
    text-decoration-line: none;
    list-style-type: none;
    font-family: 'holberton';


}

.image-header{
    font-family: 'holberton';

} 

.nav-ul-a{
    text-decoration: none; 
    color: #FFFFFF;   

}

.nav-ul-a:hover{
    background-color: #FF6565;
}

    

.main {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 637px;
    height: 313px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    font-family: 'holberton';

}

.header-text{
    display: flex;
    flex-direction: column;
    text-align:center;
    padding-top: 300px;
    font-family: 'holberton';
    
    }
    
    .min-text-sub{
        color: #FFFFFF;
        margin-top: 20px;
    font-family: 'holberton';

    }

    .h4{
        color: white;
        margin-top:auto;
    font-family: 'holberton';

    }
        

 .action-button{
margin-top: 50px;
margin-bottom: 50px;
align-items: center;
} 


.button-text{
    width: 162px;
    height: 44px;
    left: 237px;
    justify-content: center;
    border-radius: 30px;
    background: var(--botton-color);
    position: relative;
    /* margin-bottom:20px */
    font-family: 'holberton';


        }  



.header-image{
   border: 30px; 
   background-color:none;
}


.p-tag{
 color: #FFFFFF;
 margin-top: 80px;

    
} 

.section-1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;  
}


.h1-1{
    text-align: center;
} 

.p-2{
text-align: center;
font-family: Source Sans Pro;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 637px;
font-family: 'holberton';


} 

.first-image{
    display: grid;
    /* flex-direction: row; */
    grid-template-columns:  auto auto auto auto;
    justify-items: center;
    align-content: center;
    /* align-items: center; */
    padding-top: 100px;
    padding-bottom: 100px;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    margin: auto;
}

.image-0{
display: flex;
flex-direction: column;
align-items: center;
width: 207px;
height: 180px;
/* top: 1204px; */
/* left: 200px; */
/* padding-left: 50px; */
/* padding-right: 50px; */

}

.image-p{
text-align: center;
padding-top: 0;
font-family: 'holberton';


}

.image-h{
text-align: center;
padding-top: 0;
}

.input-box .input{
    width: 313px;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid;
    outline: none;
}

.form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 50; 
    max-width: 100px;

}


.form-section{
    width: 335px;
}
/* ************************************************************* */

.biggest-container{
background-image: url(./images/headphones_hero_2.jpg);
 background-size: cover;
 height: 650px;
 
}


.big-con{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.input-form{
border-bottom: 2px;
/* border-top: none; */
/* border-left: none; */
/* border-right: none; */
}

.footer-1{
 background-color: #071629; 
  width: 1400px; 
   height: 249px;
    
}

.footer-socials{
    background-color: #FFFFFF;
}

.our-result{
    text-align: center;
    color: white;
    padding-top: 80px;
    padding-bottom: 20px;
}

.our-text{
font-family: 'holberton';


}

.our-result-1{
text-align: center;
color: #FFFFFF;
padding-top: 20px;
padding-bottom: 10px;
font-family: Source Sans Pro;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
width: 637px;

}

.pentagone{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    /* padding-top: 100px; */
    padding-bottom: 100px;
    justify-content: space-between;  
}

.img-2{
    width: 190px;
    height: 190px;
    gap: 0px;
    opacity: 0px;
    justify-items: center;
    gap: 20px;
    padding-top: 0%;
    margin-right: 5rem;
    /* background-color: aquamarine; */
}


.pentagone{
    /* background-color: #071629; */

}

@keyframes scaleAndRotate {
    0%{
        transform: scale(1), (rotate(0deg));
    }
    50%{
        transform: scale(1.5), (rotate(180%));
    }
    100%{
        transform: scale(1), (rotate(360%));
    }
}
 

.img-2:hover{
    background-color: #FF6565;
    rotate: 2secs;
    animation: rotate 5secs linear;


}





.form-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding: 15px;
    margin-left: 0%;
    margin-right:0
}


.form-section{
margin-bottom: 50px;

display: flex;
justify-items: center;
flex-direction: column;
align-items: center;
margin: auto;
}

.form{


}


.call-to-action{
    width: 162px;
    height: 44px;
    left: 237px;
    justify-content: center;
    border-radius: 30px;
    background: var(--botton-color);
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}


.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.footer-container{
    background-color: #071629;
    width: auto;
    height: 300px;
}

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.footer-socials{
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content:center; */
    align-items: center;
    justify-content: space-around;
    background-color: #071629;
}

.fa-brands{
    color: white;
}

    .copyright{
        align-items: center;
        justify-content: center;
        display: flex;
        /* padding-bottom: 50px; */
        color: white;
        }



        /* RESPONSIVENESS */
@media (max-width: 1400px) {
   
  }
  



  /* TAB */
  @media (max-width: 768px) {
    .first-image{
        display: grid;
        grid-template-columns:  auto auto ;
        /* grid-template-columns: repeat(auto-fit, minmax(240px, 2fr)); */
        gap: 80px;
        justify-items: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
        margin: auto;
        width: 472px;
        height: 469px;
    } 

    .header{
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        width: 633px;
    }

    .header-image{
        padding: none;
        /* height: 10px; */
        /* width: 10px; */
        /* size: 2; */
        
    }

    .nav-list{
        display: flex;
        gap: 20px;
        text-decoration: none;
        color: #FFFFFF;
        padding-left: 10px;
        padding-right: 10px;
        padding-left: 10px;
        text-decoration-line: none;
        list-style-type: none;
    
    }
    .nav{
        gap: 20px;
    }
    .big-container{
        background-image: url(/headphones/images/headphones_hero_1.jpg);
         background-size: cover;
        /* height:800px; */
        max-width: 100%;
        height: auto;
        }

        .main {
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            width: 637px;
            height: 313px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .min-text-sub{
            color: #FFFFFF;
            /* margin-top: 30%; */
        }
   
  }
  

  /* PHONE */
  @media (max-width: 375px) {

    .mobile-icon{
    display: flex;
}
 
.first-image{
    display: grid;
    /* grid-template-rows:  auto ; */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 80px;
    justify-items: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    width: 207px;
} 

.section-1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;  
    width: 325px;
    
}

.big-container{
    background-image: url(/headphones/images/headphones_hero_1.jpg);
     background-size: cover;
    /* height:800px; */
    max-width: 375px;
    height: auto;
    }


    .header{
        display: none;
    }
  }
  